<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="PhongHopKhongGiay" connectionString="Data Source=10.14.139.15\SQL_KHANHHOA;Initial Catalog=PHONGHOPONLINE;User ID=sa;Password=P@ssword123;MultipleActiveResultSets=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="SCHEDULE" connectionString="Data Source=10.14.138.4\fptedistrict;Initial Catalog=SCHEDULE;User ID=sa;Password=P@ssword;MultipleActiveResultSets=False" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpService" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" closeTimeout="00:10:00"
                        openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"  />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8091/PhongHopKhongGiay/PhongHopKhongGiayService.svc"
       binding="basicHttpBinding" bindingConfiguration="basicHttpService"
       contract="PhongHopKhongGiayService.IPhongHopKhongGiayService"
       name="basicHttpService" />
    </client>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121FAE78165BA3D4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2020.2.512.45" newVersion="2020.2.512.45"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>