<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log4net/" />
      <datePattern value="yyyy.MM.dd'.NOXH.xml'" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.XMLLayout" />
      <!--<layout type="log4net.Layout.PatternLayout">    
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newlineExtra Info: %property{testProperty}%newline%exception" />
      </layout>-->
    </appender>
  </log4net>

	<appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="pageSize" value="10 " />
  </appSettings>
  <connectionStrings>
	  <add name="SCHEDULE" connectionString="Data Source=10.14.139.15\SQL_KHANHHOA;Initial Catalog=SCHEDULE;User ID=sa;Password=P@ssword123;MultipleActiveResultSets=False" providerName="System.Data.SqlClient"/>
	<add name="PhongHopKhongGiay" connectionString="Data Source=10.14.139.15\SQL_KHANHHOA;Initial Catalog=PHONGHOPONLINE;User ID=sa;Password=P@ssword123;MultipleActiveResultSets=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./PhongHopKhongGiayService.svc" service="PhongHopKhongGiay.SRV.Services.PhongHopKhongGiayService" />
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./DanhMucCCService.svc" service="PhongHopKhongGiay.SRV.Services.DanhMucCCService" />
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./ReportService.svc" service="PhongHopKhongGiay.SRV.Services.ReportService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
		<service name="PhongHopKhongGiay.SRV.Services.PhongHopKhongGiayService" behaviorConfiguration="DefaultServiceBehavior">
			<endpoint name="basicHttpService" address="" binding="basicHttpBinding" contract="PhongHopKhongGiay.SRV.Services.Contracts.IPhongHopKhongGiayService" />
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!-- Uncomment to use separate service behavior for workflow. Remember to specify the behavior name in your service.
			  <behavior name="WorkflowServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <sqlWorkflowInstanceStore connectionStringName="WorkflowPersistenceStore" 
			                              hostLockRenewalPeriod="00:00:30" 
						                				runnableInstancesDetectionPeriod="00:00:05" 
										                instanceCompletionAction="DeleteAll" 
										                instanceLockedExceptionAction="AggressiveRetry" 
										                instanceEncodingOption="GZip"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
			-->
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions></behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpService" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" closeTimeout="00:10:00"
                     openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"  />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="401,402,403,404,405" verbosity="Error" />
        </add>
      </traceFailedRequests>
    </tracing>
        <directoryBrowse enabled="true" />
  </system.webServer>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing, Error" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\TracesCPXD.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
